section h1, section h2, section h3 {
    margin: 0;
    padding: 1% 2%;
}

/* STYLES #SOBRE */
#sobre {
    background-color: #353535;
}

.sobre-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-div p {
    text-align: justify;
    margin: 0;
}

.sobre-div-name {
    width: 100%;
}

.sobre-div-name div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -7%;
}

.sobre-role {
    font-size: 2.6vw;
}

.sobre-name {
    font-size: 9vw;
    color: transparent; 
    -webkit-text-stroke: 2px #D0D0D0;
}

.sobre-title {
    font-size: 14.25vw;
    width: 100%;
    padding: 0;
    text-align: center;
}

.sobre-div-content {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-bottom: 5%;
}

.sobre-div-content img {
    border-radius: 50%;
    width: 30%;
}

.sobre-div-content p {
    text-align: right;
    font-size: 1.5vw;
}

/* ============== */
/* STYLES #SKILLS */
/* ============== */
#skills {
    background: #6C7A89;
}

.skills-panel {
    display: flex;
    text-align: center;
    gap: 6%;
}

.skills--left {
    width: 50%;
}

.skills--right {
    width: 50%;
}

/* wildcards */
.tech-skills-divs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
}

.tech-skills-item {
    justify-self: center;
    width: 80%;
    background-color: #6C7A89;
    padding: 2%;
    filter: drop-shadow(0px 0px 6px black);
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.tech-skills-item > div {
    padding: 2%;
}

.tech-skills-item--top {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-skills-item img {
    filter: drop-shadow(0px 0px 2px white);
    max-width: 80%;
    width: auto;
    max-height: 80%;
}

.tech-skills-item:hover {
    filter: drop-shadow(0px 0px 6px white);
}
/* end of wildcards */

#skills > div > img {
    width: 15%;
    margin: 1%;
    opacity: 0;
    filter: drop-shadow(2px 2px 6px gray);
}

/* ===================== */
/* END OF STYLES #SKILLS */
/* ===================== */

.social-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.invisible {
    visibility: hidden;
}

#contato input, #contato textarea {
    background-color: transparent;
    color: white;
    border: solid white;
    border-width: 0 0 1px;
    border-radius: 0;
}

#contato input:focus, #contato textarea:focus {
    box-shadow: none;
}

#contato label {
    color: white;
}

.contato--div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato--div > div {
    margin: 5%;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}

.submit-btn {
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 3% 6%;
}

.submit-btn:hover {
    color: lightgreen;
    border-color: lightgreen;
    box-shadow: 0 0 10px lightgreen;
}

.showOn {
    animation: showOn .5s forwards ease-in-out;
}

@keyframes showOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes social-glow {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
