@media only screen and (max-width:880px) {

    h1 {
        font-size: 1.5em;
    }
    
    .sobre-name {
        font-size: 3em;
        -webkit-text-stroke-width: 1px;
    }

    .sobre-role {
        font-size: 1em;
    }

    .sobre-div-content {
        flex-direction: column;
        gap: 10px;
    }
    
    .sobre-div-content p {
        text-align: justify;
        font-size: inherit;
    }
    .sobre-div-content img {
        width: 100%;
    }

    .sobre-div-name div {
        margin-bottom: -3%;
    }

    /* ====== */
    /* SKILLS */
    /* ====== */

    .skills-divs {
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }

    .skills-item {
        height: 28vh;
    }

    .skills-item hr {
        margin: 5px;
    }

    .skills-item--bottom {
        font-size: 1.75rem;
    }
    
    
    /* ============= */
    /* END OF SKILLS */
    /* ============= */

    .social-links {
        padding: 5% 0;
    }
    
    .contato--div > div {
        border: none;
        box-shadow: none;
    }

    #contato form {
        margin: unset;
        width: 100%;
        padding: 10% 5%!important;
    }

}